%html
  %head
    %title Cocktails Menu
    %link{href: 'http://fonts.googleapis.com/css?family=Poiret+One', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Federo', rel: 'stylesheet', type: 'text/css'}
    %link{rel: 'stylesheet', href: 'styles/main.css', type: 'text/css'}
  %body
    %h1 Cocktails

    .item
      %h2 Margarita
      %p Silver tequila, cointreau, lime, with ice in a salt rimmed glass.

    .item
      %h2 Tequila Old Fashioned
      %p Anejo tequila, agave syrup, angostura bitters, and a twist of orange.

    .item
      %h2 El Dorado
      %p Silver tequila, lemon, agave syrup.

    .item
      %h2 Dark & Stormy
      %p Dark rum, ginger beer, and a slice of lime.

    .item
      %h2 Caipirinha
      %p Cachaça, lime, raw sugar, on ice.

    .item
      %h2 Raspberry Caipirinha
      %p Cachaça, raspberry, lemon, honey, raw sugar, on ice.

    .item
      %h2 Boilermaker
      %p Bright ale, honey bourbon.

    %h1 Mocktails

    .item
      %h2 Spiced Raspberry Cooler
      %p Raspberry, lemon, honey, ginger beer.

    %h1 Untested

    .item
      %h2 Mojito
      %p Home grown mint, lime, sugar, rum.

    .item
      %h2 Pimm's Fruit Cup
      %p Whatever fits in a glass.
